<!DOCTYPE html>
<head>
    <link href="mystyle.css" rel="stylesheet">
</head>
<body>
    <div class="top">
        <div class="sifn_up_in">
                <a href="/login" class="in" id="sign-in-form">Sign in</a>
                <a href="/registration" class="up" id="sign-up-form">Sign up</a>
        </div>
    </div>
        <div class="main">
            <div class="main_info">
                <div class="photo">
                </div>
                <div class="Text">
                    <span>Pavuk300</span>
                </div>
            </div>
            <div class="info">

            </div>
        </div>
</body>
</html>
